[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "*"
requests = "*"
flask = "*"
htmlmin = "*"
smartypants = "*"
"boto3" = "*"
tinydb = "*"
pylint = "*"

[dev-packages]

