<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">SATURDAY, JULY 7</h3>
    <p>Quarter-finals</p>
    <p>England 2, Sweden 0</p>
    <p>Russia 2, Croatia 2 (Croatia wins 4-3 on penalties)</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">TUESDAY, JULY 10</h3>
    <p>Semifinals</p>
    <p>France vs. Belgium, 2 p.m.</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">WEDNESDAY, JULY 11</h3>
    <p>Semifinals</p>
    <p>Croatia vs. England, 2 p.m.</p>
</div>
<!--
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">SATURDAY, JULY 14</h3>
    <p>Third-place playoff</p>
    <p>TBD vs. TBD, 10 a.m.</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">SUNDAY, JULY 15</h3>
    <p>Final</p>
    <p>TBD vs. TBD, 11 a.m.</p>
</div> -->