<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">SATURDAY, JUNE 30</h3>
    <p>Round of 16</p>
    <p>France vs Argentina, 10 a.m.</p>
    <p>Uruguay vs. Portugal, 2 p.m.</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">SUNDAY, JULY 1</h3>
    <p>Round of 16</p>
    <p>Spain vs. Russia, 10 a.m.</p>
    <p>Croatia vs. Denmark, 2 p.m.</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">MONDAY, JULY 2</h3>
    <p>Round of 16</p>
    <p>Brazil vs. Mexico, 10 a.m.</p>
    <p>Japan vs. Belgium, 2 p.m.</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">TUESDAY, JULY 3</h3>
    <p>Round of 16</p>
    <p>Sweden vs. Switzerland, 10 a.m.</p>
    <p>Colombia vs. England, 2 p.m.</p>
</div>
<!-- <div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">FRIDAY, JULY 7</h3>
    <p>Quarter-finals</p>
    <p>TBD vs. TBD, 10 a.m.</p>
    <p>TBD vs. TBD, 2 p.m.</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">SATURDAY, JULY 8</h3>
    <p>Quarter-finals</p>
    <p>TBD vs. TBD, 10 a.m.</p>
    <p>TBD vs. TBD, 2 p.m.</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">TUESDAY, JULY 10</h3>
    <p>Semifinals</p>
    <p>TBD vs. TBD, 2 p.m.</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">WEDNESDAY, JULY 11</h3>
    <p>Semifinals</p>
    <p>TBD vs. TBD, 2 p.m.</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">SATURDAY, JULY 14</h3>
    <p>Third-place playoff</p>
    <p>TBD vs. TBD, 10 a.m.</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">SUNDAY, JULY 15</h3>
    <p>Final</p>
    <p>TBD vs. TBD, 11 a.m.</p>
</div> -->