<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">FRIDAY, JULY 6</h3>
    <p>Quarter-finals</p>
    <p>France 2 Uruguay 0</p>
    <p>Belgium 2, Brazil 1</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">TUESDAY, JULY 3</h3>
    <p>Round of 16</p>
    <p>Sweden 1, Switzerland 0</p>
    <p>England 1, Colombia 1 (England wins 4-3 on penalties)</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">SUNDAY, JULY 1</h3>
    <p>Round of 16</p>
    <p>Spain 1, Russia 1 (Russia wins 4-3 on penalties)</p>
    <p>Croatia 1, Denmark 1 (Croatia wins 3-2 on penalties)</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">MONDAY, JULY 2</h3>
    <p>Round of 16</p>
    <p>Brazil 2, Mexico 0</p>
    <p>Belgium 3, Japan 2</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">SATURDAY, JUNE 30</h3>
    <p>Round of 16</p>
    <p>France 4, Argentina 3</p>
    <p>Uruguay 2, Portugal 1</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">THURSDAY, JUNE 28</h3>
    <p>Colombia 1, Senegal 0</p>
    <p>Poland 1, Japan 0</p>
    <p>Belgium 1, England 0</p>
    <p>Tunisia 2, Panama 1</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">WEDNESDAY, JUNE 27</h3>
    <p>Sweden 3, Mexico 0</p>
    <p>South Korea 2, Germany 0</p>
    <p>Switzerland 2, Costa Rica 2</p>
    <p>Brazil 2, Serbia 0</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">TUESDAY, JUNE 26</h3>
    <p>Peru 2, Australia 0</p>
    <p>Denmark 0, France 0</p>
    <p>Argentina 2, Nigeria 1</p>
    <p>Croatia 2, Iceland 1</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">MONDAY, JUNE 25</h3>
    <p>Saudi Arabia 2, Egypt 1</p>
    <p>Uruguay 3, Russia 0</p>
    <p>Iran 1, Portugal 1</p>
    <p>Spain 2, Morocco 2</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">SUNDAY, JUNE 24</h3>
    <p>England 6, Panama 1</p>
    <p>Japan 2, Senegal 2</p>
    <p>Colombia 3, Poland 0</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">SATURDAY, JUNE 23</h3>
    <p>Belgium 5, Tunisia 2</p>
    <p>Mexico 2, South Korea 1</p>
    <p>Germany 2, Sweden 1</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">FRIDAY, JUNE 22</h3>
    <p>Brazil 2, Costa Rica 0</p>
    <p>Nigeria 2, Iceland 0</p>
    <p>Switzerland 2, Serbia 1</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">THURSDAY, JUNE 21</h3>
    <p>Denmark 1, Australia 1</p>
    <p>France 1, Peru 0</p>
    <p>Croatia 3, Argentina 0</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">WEDNESDAY, JUNE 20</h3>
    <p>Portugal 1, Morroco 0</p>
    <p>Uruguay 1, Saudi Arabia 0</p>
    <p>Spain 1, Iran 0</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">TUESDAY, JUNE 19</h3>
    <p>Colombia 1, Japan 2</p>
    <p>Poland 1, Senegal 2</p>
    <p>Russia 3, Egypt 1</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">MONDAY, JUNE 18</h3>
    <p>Sweden 1, South Korea 0</p>
    <p>Belgium 3, Panama 0</p>
    <p>Tunisa 1, England 2</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">SUNDAY, JUNE 17</h3>
    <p>Costa Rica 0, Serbia 1</p>
    <p>Germany 0, Mexico 1</p>
    <p>Brazil 1, Switzerland 1</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">SATURDAY, JUNE 16</h3>
    <p>France 2, Australia 1</p>
    <p>Argentina 1, Iceland 1</p>
    <p>Peru 0, Denmark 1</p>
    <p>Croatia 2, Nigeria 0</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">FRIDAY, JUNE 15</h3>
    <p>Egypt 0, Uruguay 1</p>
    <p>Morocco 0, Iran 1</p>
    <p>Portugal 3, Spain 3</p>
</div>
<div style="flex: 1; min-width: 240px; margin: 0 10px 0 10px; margin-bottom: 6px;">
    <h3 style="margin-top: 4px; margin-bottom: 2px;">THURSDAY, JUNE 14</h3>
    <p>Russia 5, Saudi Arabia 0</p>
</div>